* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#jumbotron-title {
  padding: 2rem 1rem;
  background-color: rgb(0, 120, 185);
  border-radius: 0.3rem;
}

#jumbotron-description {
    padding: 2rem 1rem;
    /* margin-bottom: 2rem; */
    background-color: white;
    border-radius: 0.3rem;
}

.vertical-center {
  border-color: red;
}

.overlay-background {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../util/img/txt/hack-day-SCLA-2021.png') no-repeat center/cover;
}

section {
  background-color: rgba(211, 215, 217);
}

.header-buttons-text {
  font-size: 23px;
}

.header-flyer-image {
  max-width: 90%;
  height: auto;
}

.header-stream-images {
  max-width: 50%;
  height: auto;
}

.header-link-images {
  max-width: 80%;
  height: auto;
}